<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="errContainer">
        <h1>500: Internal Server Error</h1>
        <p>Something went wrong, try again later.</p>
        <p><a href="/">Back to Home</a></p>
    </div>
    <!-- div to main??? -->
    
    <%- include('partials/footer') %>
</body>
</html>