<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="abtSect">
            <div class="abtLeft">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolorem molestiae iusto vero quas, voluptatem ullam culpa commodi libero tempora adipisci quasi, quo quos voluptates mollitia nobis perspiciatis sequi magni.
                    Ullam, quibusdam voluptas. Ea voluptates atque eveniet ad minima facere animi est provident quaerat adipisci esse odio iusto neque ullam, eligendi rem expedita sit! Error est atque expedita quis voluptatibus.
                    Labore expedita a autem maxime quia. Animi qui obcaecati soluta eos eveniet. Corrupti repellat esse, vel soluta totam ducimus culpa dicta facilis consequatur cupiditate. Laborum magni repudiandae ratione dignissimos deleniti.
                </p>
            </div>
            <div class="abtRight">
                <img src="/imgs/using-echo.jpg" alt="Image of a person using a laptop." class="laptopImg">
            </div>
        </section>
        <section class="guideSect">
            <h2>Easy to follow steps</h2>
            <div class="cards">
                <div class="card">
                    <div class="cardTop">
                        <img src="/imgs/ripple.jpg" alt="">
                    </div>
                    <div class="cardDown">
                        <p>
                            <strong>Create an account.</strong>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardTop">
                        <img src="/imgs/ripple.jpg" alt="">
                    </div>
                    <div class="cardDown">
                        <p>
                            <strong>Post messages!</strong>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardTop">
                        <img src="/imgs/ripple.jpg" alt="">
                    </div>
                    <div class="cardDown">
                        <p>
                            <strong>Join membership?</strong>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>