<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="logInSect">
            <h1>Log in to your account</h1>

            <!-- Errors -->
            <% if(typeof messages !== 'undefined' && messages.length > 0) { %>
                <ul class="auth-form">
                    <% messages.forEach(message => { %>
                        <li><%= message %></li>
                    <% }); %>
                </ul>
            <% } %>

            <form action="/log-in" method="post" class="logInForm">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Type your username" required><br>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Type your password" required><br><br>

                <button type="submit">Log In</button>

                <div class="otherLinks">
                    <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
                </div>
            </form>
        </section>
    </main>
</body>
</html>